*.pyc
.venv
__pycache__
*.json
*.log
*.sqlite3
*.db
*.env
*.DS_Store
*.egg-info
*.coverage
*.pytest_cache
*.mypy_cache
*.vscode
.idea
*.ipynb_checkpoints
*.swp
*.bak
*.orig
*.tmp

*.txt
!requirements.txt
